{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <a class="btn btn-primary" href="{% url 'task_manager:position-create' %}">Create position</a>
  <br>
  <br>
  {% for position in position_list %}
    <ul>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ position.name }}
        <span>
          <a class="text-decoration-none" href="{% url 'task_manager:position-update' pk=position.pk%}">📝</a>
          <a class="text-decoration-none" href="{% url 'task_manager:position-delete' pk=position.pk%}">❌</a>
        </span>
      </li>
    </ul>
  {% endfor %}
  {% include "includes/pagination.html" %}
{% endblock %}